/* body */
body{
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* navbar css */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background-color: #111827;
  color: rgb(255, 255, 255);
}
.nav-links {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
.nav-links>div:hover{
  color: rgb(51, 51, 250);
}
.vertical-centre{
  display: flex;
  align-items: center;
}
/* button css */
.button{
  border: none;
}

/* quotecard css */
.quote-container{
  background-color: #1f2937;
  color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 5rem;
}
.quote-container > p{
  font-size: 30px;
  font-weight: 700;
} 
.author-text{
  color: #9ca3ef;
}

/* footer css */
#footer-section {
  color:#373738;
  width: 100vw;
  height: 55vh;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#footer-logo {
  color: mediumseagreen;
  font-size: 20px;
  font-weight: 600;
}
#footer-nav {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}
#footer-social-nav {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}
.icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}
